$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    background: #efefea;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #444;
}

h1, h2, h4, h4, h5 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

header {
  border-bottom: dashed 1px #ccc;
margin: 0 -16px 30px;
padding: 10px 20px;
h1 {
  margin: 0;
  line-height: 60px;
}
img {
  float: right;
}
}

        p {
          margin: 5px 0;
          color: #888;
          font-size: 14px;

        }


.papers-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        a {
        padding: 10px 30px;
        display: block;
        border-bottom: solid 1px #ddd;
        color: #434343;

          &:hover {
                background: #efefef;
                cursor: pointer;
                text-decoration: none;
                color: tomato;


            }
        }
    }
    h2 {
        font-size: 20px;
        margin: 0;
    }
}


.container {
    max-height: 800px;
    background: #fff;
    box-shadow: 0 0 20px #ddd;
    min-height: 400px;
    margin-top: 50px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
